@config "../../tailwind.config.js";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary-color: 255, 121, 43;
    --secondary-color: 0, 176, 192;
    --accent-color: 176, 5, 255;

    --error-color: 255, 50, 50;
    --success-color: 48, 197, 53;

    --base-bg-color: 237, 237, 237;
    --card-color: 252, 252, 252;
    --card-color-accent: 238, 238, 238;
    --border-color: 200, 200, 200;
    --message-color: 188, 188, 188;
    --dropdown-color: 16, 16, 16;
    --dropdown-select-color: 40, 40, 40;
    --quick-filter-bg-color: 163, 163, 163;
    --quick-filter-selected-bg-color: 38, 38, 38;

    --base-text-color: 0, 0, 0;
    --secondary-text-color: 105, 105, 105;
    --dropdown-text-color: 255, 255, 255;

    --swiper-navigation-color: var(--secondary-text-color);
  }
}

@layer components {
  .dark {
    --primary-color: 255, 133, 55;
    --secondary-color: 3, 189, 206;
    --accent-color: 170, 0, 250;

    --base-bg-color: 14, 14, 14;
    --card-color: 35, 35, 35;
    --card-color-accent: 75, 75, 75;
    --border-color: 0, 0, 0, 0;
    --message-color: 66, 66, 66;
    --dropdown-color: 252, 252, 252;
    --dropdown-select-color: 237, 237, 237;
    --quick-filter-bg-color: 64, 64, 64;
    --quick-filter-selected-bg-color: 212, 212, 212;

    --base-text-color: 255, 255, 255;
    --secondary-text-color: 144, 144, 144;
    --dropdown-text-color: 0, 0, 0;
  }
}
