@import 'tailwindcss';

@theme {
  --color-primary: #565bf5;
  --color-secondary: #1b5be0;
  --color-accent: #b005ff;

  --color-error: #ff3232;
  --color-success: #30c535;

  --color-base: #ededed;
  --color-card: #fcfcfc;
  --color-card-accent: #c8c8c8;
  --color-border: #e5e6eb;
  --color-dropdown: #101010;
  --color-dropdown-select: #282828;
  --color-quick-filter: #dcdcdc;
  --color-quick-filter-selected: #b4b4b4;
  --color-base-text: #000000;
  --color-secondary-text: #696969;
  --color-dropdown-text: #ffffff;
}
